<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <package id="Microsoft.AppCenter.Analytics" version="1.0.1" targetFramework="uap10.0.10586" />
  <package id="Microsoft.AppCenter.Crashes" version="1.0.1" targetFramework="uap10.0.10586" />
  <package id="Microsoft.Azure.Mobile.Client" version="4.0.2" targetFramework="uap10.0.10586" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="4.0.2" targetFramework="uap10.0.10586" />
  <package id="Microsoft.Bcl" version="1.0.10" targetFramework="uap10.0.10586" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0.10586" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.2.2" targetFramework="uap10.0.10586" />
  <package id="PCLStorage" version="1.0.2" targetFramework="uap10.0.10586" />
  <package id="Plugin.MediaManager.Forms" version="0.4.5" targetFramework="uap10.0.10586" />
  <package id="Plugin.Multilingual" version="1.0.2" targetFramework="uap10.0.10586" />
  <package id="Xam.Plugin.Connectivity" version="" targetFramework="uap10.0.10586" />
  <package id="Xam.Plugin.Media" version="3.1.1" targetFramework="uap10.0.10586" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="uap10.0.10586" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="uap10.0.10586" />
  <package id="Xamarin.Forms.Maps" version="2.5.0.121934" targetFramework="uap10.0.10586" />
</packages>